In [41]:
from sklearn import datasets
import pandas as pd
import numpy as np

### Tidy up dataset

In [23]:
df = pd.read_csv('learnt_data_for_classification.csv')
df = df.dropna()
df['final_result'] = df['final_result'].astype('category')
df.head()

,dates,model_RMSE,model_ME,average_satellite,average_rezare,days_since,final_result
0,2018-07-09,195.0,155.0,2346.0,2191.0,2.0,bad
1,2018-07-12,165.0,117.0,2354.0,2237.0,5.0,Sent
2,2018-07-13,123.0,56.0,2301.0,2246.0,1.0,Sent
3,2018-07-14,111.0,11.0,2272.0,2261.0,1.0,Sent
4,2018-07-17,120.0,-27.0,2278.0,2305.0,3.0,Sent

In [24]:
df.describe()

,model_RMSE,model_ME,average_satellite,average_rezare,days_since
count,1128.000000,1128.000000,1128.000000,1128.000000,1128.000000
mean,563.370567,-432.065603,1806.511525,2238.570922,5.918440
std,506.597834,541.880715,718.065423,357.278069,5.035852
min,29.000000,-5595.000000,-3728.000000,1215.000000,1.000000
25%,272.000000,-592.000000,1387.250000,2017.750000,2.000000
50%,418.000000,-307.500000,1981.000000,2262.500000,4.000000
75%,662.250000,-105.750000,2318.500000,2496.500000,8.000000
max,5912.000000,1816.000000,4497.000000,3242.000000,33.000000

### Learn model

In [65]:
from sklearn import svm
clf = svm.SVC(kernel='linear', probability=True, gamma = 0.2, C = 1)

In [68]:
y_train = df.final_result
x_train = df[['model_RMSE','model_ME','days_since']]
x_train.head()
y_train.head()

0     bad
1    Sent
2    Sent
3    Sent
4    Sent
Name: final_result, dtype: category
Categories (2, object): [Sent, bad]

In [66]:
# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(df[['model_RMSE','model_ME','days_since']],df.final_result,test_size=0.3,random_state=109)
# clf.fit(x_train, y_train)
# y_pred = clf.predict(x_test)
# from sklearn import metrics
# print('Accuracy:', metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8053097345132744

### Predict model
Note for model selection we want the prediction probability so we run **clf.predict_proba** not **clf.predict(x_train)**, I just run **clf.predict(x_train)** so I can easily check accuracy.

In [76]:
clf.fit(x_train,y_train)
y_pred = clf.predict_proba(x_train)
#y_pred = clf.predict(x_train)

In [74]:
from sklearn import metrics
print('Accuracy:', metrics.accuracy_score(y_train, y_pred))

Accuracy: 0.8156028368794326

In [79]:
y_pred = pd.DataFrame(y_pred, columns=["sent","bad"])
y_pred = round(y_pred, 3)

In [80]:
y_pred.head()

    sent    bad
0  0.661  0.339
1  0.794  0.206
2  0.705  0.295
3  0.705  0.295
4  0.743  0.257

In [81]:
total = pd.concat([df,y_pred], axis= 1)

In [82]:
total.head(30)

,dates,model_RMSE,model_ME,average_satellite,average_rezare,days_since,final_result,sent,bad
0,2018-07-09,195.0,155.0,2346.0,2191.0,2.0,bad,0.661,0.339
1,2018-07-12,165.0,117.0,2354.0,2237.0,5.0,Sent,0.794,0.206
2,2018-07-13,123.0,56.0,2301.0,2246.0,1.0,Sent,0.705,0.295
3,2018-07-14,111.0,11.0,2272.0,2261.0,1.0,Sent,0.705,0.295
4,2018-07-17,120.0,-27.0,2278.0,2305.0,3.0,Sent,0.743,0.257
5,2018-07-18,122.0,38.0,2362.0,2324.0,1.0,Sent,0.699,0.301
6,2018-07-19,77.0,-64.0,2282.0,2346.0,1.0,Sent,0.728,0.272
7,2018-07-23,1077.0,-1015.0,988.0,2003.0,4.0,bad,0.000,1.000
8,2018-07-24,1154.0,-1082.0,859.0,1941.0,5.0,bad,0.000,1.000
9,2018-07-25,217.0,-195.0,2179.0,2374.0,6.0,bad,0.616,0.384
10,2018-07-27,91.0,29.0,2431.0,2401.0,8.0,Sent,0.905,0.095
11,2018-07-28,636.0,-615.0,1737.0,2352.0,1.0,bad,0.011,0.989
12,2018-07-29,100.0,-73.0,2414.0,2488.0,2.0,Sent,0.722,0.278
13,2018-07-30,168.0,-159.0,2324.0,2483.0,1.0,bad,0.521,0.479
14,2018-08-04,1386.0,-1321.0,625.0,1946.0,6.0,bad,0.000,1.000
15,2018-08-05,520.0,-491.0,2032.0,2523.0,7.0,bad,0.090,0.910
16,2018-08-06,903.0,-862.0,1067.0,1929.0,8.0,bad,0.003,0.997
17,2018-08-07,224.0,-155.0,2446.0,2601.0,9.0,Sent,0.733,0.267
18,2018-08-09,197.0,-168.0,2364.0,2531.0,2.0,Sent,0.500,0.500
19,2018-08-10,427.0,-283.0,2034.0,2317.0,1.0,bad,0.102,0.898
20,2018-08-11,233.0,-130.0,2328.0,2458.0,2.0,Sent,0.452,0.548
21,2018-08-12,152.0,25.0,2510.0,2485.0,1.0,bad,0.640,0.360
22,2018-08-15,236.0,-173.0,2312.0,2485.0,4.0,Sent,0.509,0.491
23,2018-08-16,933.0,-861.0,877.0,1738.0,1.0,bad,0.000,1.000
24,2018-08-18,225.0,-107.0,2334.0,2441.0,3.0,bad,0.522,0.478
25,2018-08-21,906.0,-843.0,944.0,1787.0,6.0,bad,0.000,1.000
26,2018-08-22,295.0,-209.0,2247.0,2456.0,7.0,Sent,0.500,0.500
27,2018-08-25,1167.0,-1126.0,685.0,1811.0,3.0,bad,0.000,1.000
28,2018-08-26,212.0,-57.0,2302.0,2359.0,4.0,Sent,0.612,0.388
29,2018-08-27,617.0,-573.0,1130.0,1702.0,1.0,bad,0.014,0.986

### Save/Load model

In [83]:
from joblib import dump, load 
dump(clf, 'classification_model.joblib')

['classification_model.joblib']

In [86]:
clf = load('classification_model.joblib')

In [87]:
y_pred = clf.predict(x_train)
print('Accuracy:', metrics.accuracy_score(y_train, y_pred))

Accuracy: 0.8156028368794326